#top{
    
    display: inline-block;
    margin-left: 25%;
    margin-top: 10%;
}
.plus{
    display: inline-block;
    margin-left: 25%; 
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

.flexbox{
    display: flex;
    justify-content: space-evenly;

}
.middle{
   
    border: 2px orangered solid;
    margin-top: 5%;
    
    border-radius: 15px;
    padding-bottom: 100px;
    width: 14%;
    padding-left: 0px;
    box-shadow: 10px 10px 10px lightgrey;
}
.change{
    font-family: Arial, sans-serif;
    font-size: 20px;
}


.modal{
    height: 110vh;
    width: 100%;
    display: block;
    margin-left: 40%;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    z-index: 10;
    opacity: 0;
}
.modal_content{
    border: 2px solid orangered;
    color: orangered;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 10px 10px 10px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 15px;
    background-color: white;
    width: 20%;
    height: 10%;
    opacity: 0;
    visibility: hidden;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
    
}

.input1{
    display: block;
    margin-left: 24%;
    border: 1px solid orangered;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 10px 10px 10px lightgrey;

}
.modal:target{
    visibility: visible;
    opacity: 1;
}

.modal:target .modal_content{
    visibility: visible;
    opacity: 1;
}

.button1{
    color: white;
    background-color: orangered;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;

}
button:hover{
    color: black;
    background-color: white;
    border: 1px solid orangered;
}

.close{
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 30px;

}
a{
    color: grey;
    text-decoration: none;
}
a:visited{
    color: grey;
}
.close:hover{
    color: black;
}
a:hover{
    color: black;
}

@media screen and (min-width:750px) and (max-width:1024px) {
     .content{
         visibility: hidden;
         opacity: 0;
     }

     .flexbox{
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     .middle{
         height:90px;
         padding-bottom: 0px;
         width: 70%;
         margin-left: 0px;
     }

     .modal_content{
         width: 40%;
     }

     .modal{
         height: 110vh;
     }

     #top{
        margin-left: 35%;
    }
    
    .media1{
        visibility: hidden;
        opacity: 0;
    }

    .media2{
        position: absolute;
        top: 110px;
        right: 150px;
    }

    .label1{
        font-size: 25px;
    }

    .button1{
        font-size: 20px;
    }
}


@media screen and (min-width:300px) and (max-width:720px) {
    .content{
        visibility: hidden;
        opacity: 0;
    }

    .flexbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .middle{
        height:90px;
        padding-bottom: 0px;
        width: 70%;
        margin-left: 0px;
    }

    .modal_content{
        width: 70%;
    }

    .modal{
        height: 170vh;
    }

    #top{
        margin-left: 20%;
    }
    
    .media1{
        visibility: hidden;
        opacity: 0;
    }

    .media2{
        position: absolute;
        top: 70px;
        right: 20px;
    }

    .input1{
        margin-left: 18%;
        
      }

    .button1{
        font-size: 18px;
    }

    .label1{
        font-size: 25px;
    }
}